Source: alpino-corpus
Priority: extra
Maintainer: Daniël de Kok <me@danieldk.eu>
Build-Depends: debhelper (>= 7.0.50~), libboost-dev (>= 1.46.1.1), libboost-filesystem-dev (>= 1.46.1.1), libboost-regex-dev(>= 1.46.1.1), libboost-system-dev (>= 1.46.1.1), libboost-thread-dev (>= 1.46.1.1), cmake (>= 2.8.0), cdbs (>= 0.4.62), libxqilla2.2-dev, libxerces-c-dev, libdbxml-dev (>= 2.5.16), libxml2-dev (>= 2.7.8), libxslt1-dev (>= 1.1.26-7), zlib1g-dev (>= 1.2.3)
Standards-Version: 3.9.2
Section: libs
Homepage: http://github.com/rug-compling/dact
Vcs-Git: git://github.com/rug-compling/alpinocorpus.git
Vcs-Browser: https://github.com/rug-compling/alpinocorpus

Package: libalpino-corpus1.0
Section: libs
Suggests: libalpino-corpus-dev, alpino-corpus-util
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for processing XML-based treebanks
 AlpinoCorpus is a library for processing XML-based treebanks. It can read
 XML corpora in various formats and provides querying facilities.

Package: libalpino-corpus-dev
Section: libdevel
Architecture: any
Depends: libdbxml-dev (>= 2.5.16), zlib1g-dev, libalpino-corpus1.0 (= ${binary:Version}), ${misc:Depends}
Description: Library for processing XML-based treebanks (development headers)
 AlpinoCorpus is a library for processing XML-based treebanks. It can read
 XML corpora in various formats and provides querying facilities.
 .
 This package contains development headers.

Package: alpino-corpus-util
Section: database
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utilities for processing Alpino treebanks.
 AlpinoCorpus is a library for processing XML-based treebanks. It can read
 XML corpora in various formats and provides querying facilities.
 .
 This package contains utilities for processing Alpino treebanks.
